{% extends 'base.html' %}

{% block title %}
GrProfessor - Dashboard
{% endblock %}

{% block content %}

<div class="col text-center">
    <h2>Dashboard</h2>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Aqui está sua <strong>Dashboard</strong> nela você pode adicionar quantas turmas você achar necessário. Adicione
        uma agora
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <a class="btn btn-success btn-lg" href="{% url 'criar-turma' %}" role="button">Cadastrar turma</a>



</div>

<div class="turmas mt-5">
    {% if turmas %}
        {% for turma in turmas %}
            <div class="col text-center">
                <a class="btn btn-primary col-8 mt-3" href="{% url 'turma' id=turma.id %}" role="button">{{ turma.nome_turma }}</a>
                <a class="btn btn-success col-1 mt-3" href="{% url 'editar-turma' id=turma.id %}" role="button">Editar</a>
                <a class="btn btn-danger col-1 mt-3" href="{% url 'deletar-turma' id=turma.id %}" role="button">Excluir</a>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}