{% extends 'base.html' %}

{% block title %}
GrProfessor
{% endblock %}

{% block content %}
<h2>PAGINA INICIAL</h2>
<p>Bem vindo ao meu site,
    {% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    Anônimo
    {% endif %}</p>
<p><strong>Total de usuários cadastrados: {{ count }}</strong></p>
<p></p>
<p>O GrProfessor (Great Professor) é uma aplicação web que pode ser utilizada para gerenciar turmas com:</p>
</p>alunos, grupos, atividades e também eventos. Aqui está uma explicação rápida das funcionalidades.</p>
<p></p>
<p><strong>Turmas:</strong> Nessa aba você pode cadastrar diversas turmas para uma melhor organização do sistema</p>
<p>cada turma pode conter todas as funcionalidades descritas abaixo, lembrando que você não pode utilizar nenhuma</p>
<p>delas sem antes ter criado uma turma :)</p>
<p></p>
<p><strong>Alunos:</strong> Nessa aba você pode fazer o upload de um arquivo CSV (Não esqueça do Header) contendo o nome</p>
<p>dos alunos de determinada turma, além de poder editar ou excluir tais alunos. Muito cuidado se você for importar o CSV</p>
<p>duas vezes pois isso pode acarretar na criação de alunos com nomes duplicados</p>
<p></p>
<p><strong>Grupos:</strong> Nessa aba você pode criar grupos de forma aleatória de duas formas: Selecionando o número de</p>
<p>grupos que você deseja utilizar, ou selecionando a quandidade de membros por grupo. Lembrando que um grupo deve conter</p>
<p>obrigatoriamente 2 ou mais alunos</p>
<p></p>
<p><strong>Atividades:</strong> Nessa aba você pode criar atividades, e também poderá ser feito dois tipos de sorteio:</p>
<p>O primeiro, você irá sortear um Aluno para atividade, e no outro você irá sortear um Grupo para esta atividadde</p>
<p>Apenas um tipo de sorteio é permitido por atividade (Mas você pode sortear quantas vezes achar necessário)</p>
{% endblock %}