{% extends 'base.html' %}

{% block title %}
GrProfessor - {{ turma.nome_turma }}
{% endblock %}

{% block content %}

<div class="col text-center">
    <h2>Turma - {{ turma.nome_turma}}</h2>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Nesta turma, você pode cadastrar alunos, criar grupos, e também criar atividades
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <a class="btn btn-success btn-lg" href="#" role="button">Importar CSV</a>
    <a class="btn btn-success btn-lg" href="{% url 'aluno-creation' id=turma.id %}" role="button">Cadastrar aluno</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Criar atividade</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Criar grupos</a>
</div>

{% if alunos %}
    {% for aluno in alunos %}
        {{ aluno.nome_aluno }}
    {% endfor %}

{% endif %}


{% endblock %}